<!-- WELCOME {{.email}} TO ACCOUNT -->
<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <link rel="stylesheet" href="http://dimsemenov.com/plugins/magnific-popup/site-assets/all.min.css?v=0.9.9">
	<title></title>
</head>
<body>
	<div>
		<p>ПРИВЕТ {{.email}}</p>
	</div>
	<div>
		<button class="popup-with-form1" href="#test-form1">AddPizza</button>
        <div id="test-form1" class="white-popup-block mfp-hide"> 
        	<h1>Добавление пиццы в магазин для пользователей</h1>
            <select onclick="addPizzaPrice()" id="pizzaName">
                <option value="МаргаритаL">Маргарита L</option> 
                <option value="МаргаритаXL">Маргарита XL</option>
                <option value="4 сыра L">4 сыра L</option>
                <option value="4 сыра XL">4 сыра XL</option>
                <option value="Вегетарианская L">Вегетарианская L</option>
                <option value="Вегетарианская XL">Вегетарианская XL</option>
            </select>
            <input id="pizzaPrice" readonly>
            <span>Грн</span>
            <button onclick="sendPizza()" >Добавить</button>
        </div>
	</div>
	<form action="/admin/">  
        <button onclick="logOut()">Log Out</button>
    </form>
</body>
<script src="http://dimsemenov.com/plugins/magnific-popup/dist/jquery.magnific-popup.min.js?v=0.9.9"></script>
</html>
<style>

</style>
<script>
	function addPizzaPrice() {
		var pizzaPrice = document.getElementById("pizzaPrice")
		if(document.getElementById('pizzaName').value == "МаргаритаL") {
     		pizzaPrice.value = 80;
		}
		if(document.getElementById('pizzaName').value == "МаргаритаXL") {
     		pizzaPrice.value = 140;
		}
		if(document.getElementById('pizzaName').value == "4 сыра L") {
     		pizzaPrice.value = 99;
		}
		if(document.getElementById('pizzaName').value == "4 сыра XL") {
     		pizzaPrice.value = 160;
		}
		if(document.getElementById('pizzaName').value == "Вегетарианская L") {
     		pizzaPrice.value = 55;
		}
		if(document.getElementById('pizzaName').value == "Вегетарианская XL") {
     		pizzaPrice.value = 130;
		}
		console.log(pizzaPrice.value)
	}
	function logOut() {
        $.get( "/admin/logOut")
    }
	function sendPizza() {
		var data = {
			"name": $('#pizzaName').val(),
			"price": $('#pizzaPrice').val(),
		}
		$.ajax({   
            type: "POST",   
            url: "/admin/sendPizza",   
            data: JSON.stringify(data), 
            contentType: "application/json; charset=utf-8",   
            dataType: "json",          
    	});
		console.log(data)
	}
	$(document).ready(function() {
        $('.close').click(function() {
            $.magnificPopup.close();
        });
    });

    $(document).ready(function() {

	    $('.popup-with-form1').magnificPopup({
	        type: 'inline',
	        preloader: false,
	        focus: '#E-Mail',
	        callbacks: {
	            beforeOpen: function() {
	                if($(window).width() < 700) {
	                    this.st.focus = false;
	                } else {
	                    this.st.focus = '#E-Mail';
	                }
	            }
	        }
	    });
	});

    // function addPizza() {

    // 	$.ajax({   
    //         url: '/admin/addPizza',    
    //         type: 'POST', 
    //         data: JSON.stringify(data),
    //         contentType: "application/json; charset=utf-8",  
    //         dataType: "json", 
    //         success : function(data) {
    //             console.log(data.name)
    //             console.log(data.size)
    //         },
    //     }); 
    //     console.log(data) 
    // }
</script>


